body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #42280e;
    color: white;
    text-align: center;
    padding: 20px;
    text-align:center
}



.content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #341f13;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #42280e;
    text-decoration: none;
}

nav ul {
    background-color: #FAF9F6;
    background-position: center;
    width:100%;
    margin: 0;
    border-style: solid;
    border-color: #555555;
    border-width: 2px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
   
}

nav ul li {
    list-style-type: none;
     display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: #787878;
}

nav ul li a {
    text-decoration: none;
    color: #59b1c2
}
.quiz-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.item {
    margin: 20px 0;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

input[type="text"] {
    padding: 5px;
    margin: 10px 0;
    width: 200px;
}

.answer {
    visibility: hidden; 
    color: #333;
    margin-top: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
}

.show-answers-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #42280e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-answers-btn:hover {
    background-color: #5a371a;
}

.instructions {
    background-color: #DEB887;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #42280e;
    color: white;
    text-align:center;
}
